body{
	font-family: Arial
}

#topBar {
	background-color:rgba(28, 78, 99,0.8);
	height: 70px;
	width: 100%;
	position: fixed;
	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


#centreBox
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	width: 80%;
	height: 100%
}

.resultscolumn
{
	float:right;
	margin-left:15px;
}

.nBox
{
	width: 70px;
}

.entryArea
{
	padding: 5px;
}

.distStrip
{
	border-width: 1px;
	border-top-style: solid;
	border-color: #0F77B2;

	width: 100%;
	margin-left: auto;
	margin-right: auto;
	min-height: 30px;

	background: rgba(236,235,240,1);
	background: -moz-linear-gradient(left, rgba(236,235,240,1) 0%, rgba(245,245,245,1) 50%, rgba(233,232,237,1) 51%, rgba(204,204,204,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(236,235,240,1)), color-stop(50%, rgba(245,245,245,1)), color-stop(51%, rgba(233,232,237,1)), color-stop(100%, rgba(204,204,204,1)));
	background: -webkit-linear-gradient(left, rgba(236,235,240,1) 0%, rgba(245,245,245,1) 50%, rgba(233,232,237,1) 51%, rgba(204,204,204,1) 100%);
	background: -o-linear-gradient(left, rgba(236,235,240,1) 0%, rgba(245,245,245,1) 50%, rgba(233,232,237,1) 51%, rgba(204,204,204,1) 100%);
	background: -ms-linear-gradient(left, rgba(236,235,240,1) 0%, rgba(245,245,245,1) 50%, rgba(233,232,237,1) 51%, rgba(204,204,204,1) 100%);
	background: linear-gradient(to right, rgba(236,235,240,1) 0%, rgba(245,245,245,1) 50%, rgba(233,232,237,1) 51%, rgba(204,204,204,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ecebf0', endColorstr='#cccccc', GradientType=1 );
}

button.link
{
	background:none;
	border:none;
	padding:4px;
	min-height: 0px;
	float: right;
	box-shadow: none;
}

button.list:hover, a:hover
{
	color: #2222EE;
}

a
{
	color: #0F77B2;
}



button.list
{
	box-shadow:none;
	background:none;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	border-radius:0px;
	border:none;
	color: #0F77B2;
	font-family:arial;
	font-size:15px;
	font-weight:standard;
	padding:0px;

	text-shadow:none;
	max-height: 40px;
	
	min-height: 0px;


}

.box
{
	background: rgba(226,226,226,1);
	background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(50%, rgba(219,219,219,1)), color-stop(51%, rgba(209,209,209,1)), color-stop(100%, rgba(254,254,254,1)));
	background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
	background: -o-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
	background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
	background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0 );

	min-width:100%;
	min-height:100%
	padding:30px;
	
}

.wrapper
{
	width: 44%;
	margin-top: 60px;
	margin-bottom: 60px;
}

form
{
	margin-bottom: 0em;
}

button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
	max-height: 40px;
	min-height: 40px;
}.classname:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.classname:active {
	position:relative;
	top:1px;
}

.helpBox {
    display:none;
    position:absolute;
	background-color: rgba(50,50,50,0.7);
    max-width:250px;
    padding: 10px;
    color: white;
    font-size: 12px;
    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
